@charset "UTF-8";

.redbox {
  width: 300px;
  background: #ff7b7b;
}

.bluebox {
  background: #7b86ff;
}

.yellowbox {
  width: 300px;
  background: #fff27f;
}

.table {
  width: 100%;
  display: table;
  margin-bottom: 50px;
}

.table-cell {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.greenbox {
  background: #7bff91;
}

.pinkbox {
  width: 400px;
  background: #ff7be2;
}

.orangebox {
  width: 400px;
  background: #ffc67b;
}

.skybluebox {
  background: #7bf2ff;
}

.main--area .table:last-child {
  margin-bottom: 0;
}