@charset "UTF-8";
/* 回答はここから */

.card-text {
  display: flex;
}

.card-text li {
  width: 200px;
  background: #d2b48a;
  border-radius: 13px;
  box-shadow: 0 0 0 6px #655;
  outline: 10px solid #655;
  list-style: none;
  padding: 10px;
  margin-right: 60px;
}

.card-text li:last-child {
  margin-right: none;
}
